.btn-add-to-favorites {
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    font-size: 1.25rem;
  }

  &.btn-info {
    @include media-breakpoint-up(xl) {
      &:hover {
        @keyframes heartbeat {
          from {
            transform: scale(1);
            transform-origin: center center;
            animation-timing-function: ease-out;
          }
          10% {
            transform: scale(0.91);
            animation-timing-function: ease-in;
          }
          17% {
            transform: scale(0.98);
            animation-timing-function: ease-out;
          }
          33% {
            transform: scale(0.87);
            animation-timing-function: ease-in;
          }
          45% {
            transform: scale(1);
            animation-timing-function: ease-out;
          }
        }

        animation: heartbeat 1.5s ease-in-out infinite both;
      }
    }
  }

  &.btn-outline-danger {
    @include media-breakpoint-up(xl) {
      &:hover {
        @keyframes danger {
          0% {
            transform: translate(0);
          }
          20% {
            transform: translate(-2px, 2px);
          }
          40% {
            transform: translate(-2px, -2px);
          }
          60% {
            transform: translate(2px, 2px);
          }
          80% {
            transform: translate(2px, -2px);
          }
          100% {
            transform: translate(0);
          }
        }

        animation: danger 0.3s linear infinite both;
      }
    }
  }

  span {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  svg {
    @include media-breakpoint-down(md) {
      margin: 0;
    }
  }
}
