.daily-forecast-container {
  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

.daily-forecast-unit {
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 1.5rem;
  }
  @include media-breakpoint-up(lg) {
    width: 20%;
    margin-bottom: 2rem;
  }

  .card {
    color: #666;
    border-color: #ced4da;;

    @include media-breakpoint-down(md) {
      min-height: 8rem;
      margin: 0 auto;
    }
    @include media-breakpoint-down(sm) {
      max-width: 170px;
    }
    @include media-breakpoint-up(lg) {
      height: 12rem;
      cursor: pointer;
    }

    @include media-breakpoint-up(xl) {
      @keyframes scale-up-center {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.05);
        }
      }
      &:hover {
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      }
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 1.5rem;
    }
  }

  .card-title {
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.125rem;
    }
  }
}
