.page-header {
  background-color: $light;
}

.custom-switch {
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

.switch-units {
  .custom-control-label {
    width: 5rem;
  }
}

.switch-theme {
  .custom-control-label {
    width: 3rem;
  }
}
