.weather-forecast {
  flex-grow: 1;
  margin-top: 2rem;
  color: #444;
}

.weather-forecast--content {
  position: relative;
  border: 1px solid #ced4da;;

  @include media-breakpoint-down(md) {
    padding: .75rem;
  }
  @include media-breakpoint-up(lg) {
    padding: 1.5rem 1.5rem 0;
  }
}

.weather-forecast--content-body {
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 5rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 3rem;
  }
}

.location__title {
  display: flex;
  align-items: flex-end;
  line-height: 1;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}

.location__conditions {
  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.25rem;
  }
}

.weather-forecast__conditions-text {
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

.favorites-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  font-size: .75rem;
  color: #fff;
  text-align: center;
  background-color: #e8f5e9;
  border-radius: .5rem;

  &.is-active {
    background-color: #66bb6a;
  }
}
