.theme-dark {
  $brand-primary-color: #525252;
  $brand-secondary-color: #212121;
  $brand-tertiary-color: #313131;

  $text-primary-color: #ccc;
  $text-secondary-color: #aaa;

  .page-header {
    background-color: $dark;

    .custom-switch {
      color: $text-primary-color;
    }
  }

  .navbar {
    .btn {
      color: $text-primary-color;
      background-color: $brand-secondary-color;
      border-color: $brand-primary-color;
    }
  }

  .navbar-brand {
    .nav-link {
      color: $text-primary-color;
    }
  }

  .custom-control-label::before {
    background-color: $brand-tertiary-color;
    border-color: $brand-primary-color;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $brand-tertiary-color;
    border-color: $brand-primary-color;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-color: $text-secondary-color;
  }

  main {
    background-color: $brand-secondary-color;
  }

  .search {
    .form-control {
      color: #999;
      background-color: $brand-tertiary-color;
      border-color: $brand-primary-color;
    }

    .input-group-text {
      background-color: $brand-tertiary-color;
      border-color: $brand-primary-color;
    }
  }

  .weather-forecast--content {
    color: $text-primary-color;
    background-color: $brand-tertiary-color;
    border-color: $brand-primary-color;
  }

  .favorites-status {
    &:not(.is-active) {
      visibility: hidden;
    }

    &.is-active {
      color: $text-primary-color;
      border-color: $text-primary-color;
      background-color: $brand-secondary-color;
    }
  }

  .btn-add-to-favorites {
    color: $text-primary-color;
    background-color: $brand-secondary-color;
    border-color: $brand-primary-color;
  }

  .daily-forecast-unit {
    .card {
      color: $text-primary-color;
      background-color: $brand-secondary-color;
      border-color: $brand-primary-color;
    }
  }



  .spinner {
    color: $text-primary-color;
    background-color: $brand-primary-color;
  }
}
