@import "~bootstrap/scss/bootstrap";
@import "modules/page-header";
@import "modules/navbar";
@import "modules/weather-forecast";
@import "modules/daily-forecast";
@import "modules/btn";
@import "modules/_alerts.scss";
@import "themes/theme-dark";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root,
.app,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  position: relative;
  padding-top: 2rem;

  @include media-breakpoint-down(md) {
    padding-bottom: 2rem;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 4rem;
  }
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
}
